<br><br><br>
<!-- <style type="text/css">
  .ui.card {
    display : inline-block;
    margin: 5px;
  }
</style> -->

<div class="ui main text container">
	<div class="ui segment">
		<h2>Hello {{firstname}}!</h2>
		<h3>Dashboard</h3>
		<div class="ui segment">
			Karma : {{dash.karma}}
			Total items: {{dash.itemcount}}
			Total requests : {{dash.requestcount}}
		</div>
	</div>
	
	<div class="ui two column grid">
		<div class="column">	
			<div class="ui fluid card">
				<div class="content">
					<div class="header">Your items on giveaway: </div>
					<div class="description">
						<ul>{{#each user}}
							<li><a href="/{{this.ownerid}}/{{itemid}}">{{this.itemname}}</a></li>
							{{/each}}
						</ul>
					</div>
				</div>
				<div class="extra content">
					<div class="right floated author">
						<a href="/give">Post an item for giveaway!</a>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui fluid card">
				<div class="content">
					<div class="header">Items requested : </div>
					<div class="description">
						<ul>{{#each user}}
							<li><a href="/{{this.ownerid}}/{{itemid}}">{{this.itemname}}</a></li>
							{{/each}}
						</ul>
					</div>
				</div>
				<div class="extra content">
					<div class="right floated author">
						<a href="/itemlist">Browse items!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

