<html>
<head>
	<title>Inbox - Freebay!</title>
	<link rel="stylesheet" href="https://unpkg.com/blaze@x.x.x/scss/dist/blaze.min.css">
</head>
<body>
	<p>Welcome {{firstname}} {{lastname}}. <a href="/logout">Logout</a> </p>

	<h1>Inbox</h1>
	<p>You have {{inbox}} messages.</p>
	<table border = "1">
		{{#each row}}
		<tr>
			<td>{{this.firstname}}</td><td>{{this.message}}</td>
		</tr>
		{{/each}}
	</table>
</body>
</html>