<!DOCTYPE html>
<html>
<head>
	<title>{{user.itemname}} - Freebay!</title>
</head>
<body>
	<h1>{{user.itemname}}</h1>
	<img src="{{user.imglink}}">
	<p>{{user.description}}</p>
	<p>Means of collection: {{user.shipping}}</p>
</body>
</html>