<br><br>
<div class="ui main text container">
	<div class="ui two column grid">
		<div class="column">
			<div class="ui fluid card">
				<div class="content">
					<div class="header">{{user.itemname}}</div>
					<div class="description">
						<img src="{{user.imglink}}" class="ui wireframe image">
					</div>
					<div class="meta">
						<span class="category">{{user.description}}</span>
					</div>
				</div>
				<div class="extra content">
					<div class="right floated author">
						<span>Means of collection: </span> {{user.shipping}}
					</div>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="ui fluid card">
				<div class="content">
					<div class="header">{{user.itemname}}</div>
					<div class="description">
						<img src="{{user.imglink}}" class="ui wireframe image">
					</div>
					<div class="meta">
						<span class="category">{{user.description}}</span>
					</div>
				</div>
				<div class="extra content">
					<div class="right floated author">
						<a href="/{{user.id}}/{{user.itemid}}/edit">Edit Item</a>
						<a href="/{{user.id}}/{{user.itemid}}/delete">Delete Item</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>